@media screen and (max-width: 500px){
  header {
    .title {
      width: 100%;
    }
  }
  .app-wrap{
    width: 90%;
  }
  .app{
    .cell {
      font-size: 35px;
    }
    &[data-size="5"]{
      .cell {
        font-size: 35px;
      }
    }
    &[data-size="6"]{
      .cell {
        font-size: 30px;
      }
    }
    &[data-size="7"]{
      .cell {
        font-size: 25px;
      }
    }
    &[data-size="8"]{
      .cell {
        font-size: 22px;
      }
    }
  }

}