@mixin positionPer($num){
  $percentage: percentage(1/$num);
  width: $percentage;
  height: $percentage;
  @while ($num > 0) {
    &[data-x="#{$num}"]{
      left: $percentage*$num;
    }
    &[data-y="#{$num}"]{
      top: $percentage*$num;
    }
    $num: $num - 1;
  }
}
@keyframes show {
  from  {
    opacity: 0;
    transform: scale(0);
  }
  to  {
    opacity: 1;
    transform: scale(1);
  }
}
